main{
    font-family: 'Plus Jakarta Sans';
    background-image: url("src\assets\images\Banff National Park 4K472814907.jpg");
    background-size:cover;

    h2{
        font-size: 30px;
        font-weight: bold;
        font-family: 'Plus Jakarta Sans';

    }
    

}

.box_login_head{
    display: block;
    height: 10vh;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 7%;

}

.box_login {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    padding: 3%;
    width: 40% ;
    
    
    margin-top: 3%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    
    position: relative;
}

.box_login_form{
    display: flex;
    flex: auto;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    
}



input[type="email"]{
    font-size: 25px;
}

input::placeholder{
    font-weight:500;
}

input[type="password"]{
    font-size: 25px
}

mat-error{
    padding-left: 0;
    padding: 9px;
    font-size: 20px;
    
}

input[type="text"]{
    font-size: 25px
}
.box_login_button{
    margin-top: 2%;
    font-family: 'Plus Jakarta Sans';
    font-size: 25px;
    font-weight: bold;
    width:90%;
    border-radius: 35px;
    background-color: #09635F; 
    color: white; 
    font-weight: medium ;
    padding-top: 3%; 
    padding-bottom: 3%;
}

.box_login_form_email{
    width: 90%;
}

.box_login_button:hover{
    background-color: #0EA59E !important; 
}

.space{
    margin-bottom: 2%;
}

.space_bottom{
    margin-bottom: 10%;
}

.box_login_forgot{
    margin-left: 5%;
    font-size: 18px;
    color: #09635F;
}

.login_box_compte{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.box_login_signup{
    font-weight: 600;
    color: #09635F;
}







  


  


