<main class="container">
    
    <div class="box_login">
        <div class="box_login_head">
          <img class="box_login_logo" src="assets/images/LogoNoWords.png" alt="">
          <p>{{'register.title' | translate}}</p>
          
        </div>
        <form [formGroup]="form" class="box_login_form"  > 
            <mat-form-field  style="width: 100%">
              <mat-label>{{'register.lastNamePlaceholder' | translate}}</mat-label>
                <input class="box_login_form_name" matInput type="text"  formControlName="nom" [(ngModel)]="lastName">
                <mat-error *ngIf="form.get('nom')?.hasError('required')">Votre nom est <strong>requis</strong></mat-error>
              </mat-form-field>

              <mat-form-field style="width: 100%">
                <mat-label>{{'register.firstNamePlaceholder' | translate}}</mat-label>
                <input class="box_login_form_lastname" matInput type="text"  formControlName="prenom" [(ngModel)]="firstName">
                <mat-error *ngIf="form.get('prenom')?.hasError('required')">Votre prénom est <strong>requis</strong></mat-error>
              </mat-form-field>

                 
              <mat-form-field style="width: 100%">
                <mat-label>{{'register.usernamePlaceholder' | translate}}</mat-label>
                <input class="box_login_form_username" matInput type="text"  formControlName="username" [(ngModel)]="username">
                <mat-error *ngIf="form.get('username')?.hasError('required')">Le nom d'utilisateur est <strong>requis</strong></mat-error>
              </mat-form-field>
              
            <mat-form-field style="width: 100%; border-radius: 25px;">
              <mat-label>{{'register.emailPlaceholder' | translate}}</mat-label>
              <input class="box_login_form_email" matInput type="email" placeholder="Exemple@email.com" formControlName="email" [(ngModel)]="email">
              <mat-error *ngIf="form.get('email')?.errors?.['email'] && !form.get('email')?.hasError('required')">
                Entrer une adresse courriel valide
              </mat-error>
              <mat-error *ngIf="form.get('email')?.hasError('required')">
                Votre courriel est <strong>requis</strong>
              </mat-error>
            </mat-form-field>
     
            
            <mat-form-field style="width: 100%">
              <mat-label>{{'register.zipPlaceholder' | translate}}</mat-label>
                <input class="box_login_form_postalcode" matInput type="text" formControlName="codePostal" [(ngModel)]="areaCode">
                <mat-error *ngIf="form.get('codePostal')?.hasError('required')">Le code postal est <strong>requis</strong></mat-error>
                <mat-error *ngIf="form.get('codePostal')?.hasError('invalidPostalCode')">Entrez un code postal <strong>valide</strong></mat-error>
              </mat-form-field>

            <mat-form-field style="width: 100%">
              <mat-label>{{'register.passwordPlaceholder' | translate}}</mat-label>
              <input matInput [type]="hidePassword ? 'password' : 'text'"  formControlName="password" [(ngModel)]="password">
              <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
              <mat-error *ngIf="form.get('password')?.hasError('required')">
                Votre mot de passe est <strong>requis</strong>
              </mat-error>
              <mat-error *ngIf="form.get('password')?.hasError('min')">
                Votre mot de passe est <strong>trop court</strong>
              </mat-error>
              <mat-error *ngIf="form.get('password')?.hasError('lowercaseMissing')">
                Le mot de passe doit contenir au moins une lettre <strong>minuscule</strong>.
              </mat-error>
              <mat-error *ngIf="form.get('password')?.hasError('uppercaseMissing')">
                Le mot de passe doit contenir au moins une lettre <strong>majuscule</strong>.
              </mat-error>
              <mat-error *ngIf="form.get('password')?.hasError('numberMissing')">
                Le mot de passe doit contenir au moins un <strong>chiffre</strong>.
              </mat-error>
            </mat-form-field>
            
              <mat-form-field style="width: 100%">
                <mat-label>{{'register.confirmPasswordPlaceholder' | translate}}</mat-label>
                <input class="box_login_form_confirmPassword" matInput type="password"  formControlName="confirmPassword" [(ngModel)]="confirmPassword">
                <mat-error *ngIf="form.hasError('passwordMismatch')">Les mots de passe ne correspondent pas</mat-error>
                <mat-error *ngIf="form.get('confirmPassword')?.hasError('required')">La confirmation du mot de passe est <strong>requis</strong></mat-error>
                
              </mat-form-field>
     
            <button class="box_login_button" (click)="Register()">{{'register.button' | translate}}</button>
            <p class="login_box_compte">{{'register.alreadyHaveAccount' | translate}}<a class="box_login_signup" href="" routerLink="/login">{{'register.login' | translate}}</a></p>
        </form>
      
    </div>
</main>