<div class="container">
    <div class="choiceContainer">
        <div class="titre">
            <h1>{{'creationPt2.title' | translate}}</h1>
        </div>
        <div class="btnPoints">
            <button [disabled]="disableBtnPointA" class="btnPoint">{{'creationPt2.startingPoint' | translate}}</button>
            <button [disabled]="disableBtnPointB" class="btnPoint">{{'creationPt2.endingPoint' | translate}}</button>
        </div>
    </div>
    <div class="coordinateContainer">
        <h2 style="margin: 31px;color: white;font-weight: 500;">{{titleChoice | translate}}</h2>
        <div>
            <button type="button" [hidden]="disableConfirmerButton" class="btnPointReset" (click)="resetPoints()">{{'creationPt2.resetPoints' | translate}}</button>
        </div>
    </div>
    <div class="map-container">
        <google-map #maplines [width]="'100%'" [height]="'100%'"
                [center]="center"
                [zoom]="zoom"
                (mapClick)="getLatLngFromMap($event)"
                [mapTypeId]="mapTypeId">
                <map-marker *ngFor="let marker of markerPositions" [position]="marker"></map-marker>
        </google-map>
    </div>
    <div class="btnContainer">
        <div>
            <button class="btnRetour" [routerLink]="['/creation']">{{'creationPt2.backButton' | translate}}</button>
        </div>
        <div>
            <button type="button" [disabled]="disableConfirmerButton" class="btnConfirmer" (click)="CreateTrail()">{{'creationPt2.confirmButton' | translate}}</button>
        </div>
    </div>
</div>

