<div class="container">
    <div class="choiceContainer">
        <div class="titre">
            <h1>Choisir les points de départ et d'arrivé</h1>
        </div>
        <div class="btnPoints">
            <button class="btnPoint" (click)="switchMode('PointA')">Point A</button>
            <button class="btnPoint" (click)="switchMode('PointB')">Point B</button>
        </div>
    </div>
    <div class="map-container">
        <div class="map-section">
            <google-map #maplines style="width: 155%;"
                [center]="center"
                [zoom]="zoom"
                (mapClick)="getLatLngFromMap($event)">
                <map-marker *ngFor="let marker of markerPositions" [position]="marker"></map-marker>
            </google-map>
        </div>
    </div>
    <div class="btnContainer">
        <button class="btnRetour">Retour</button>
        <button class="btnConfirmer">Confirmer</button>
    </div>
</div>

