<main class="container">
    
    <div class="box_login">
        <div class="box_login_head">
          <img class="box_login_logo" src="assets/images/LogoNoWords.png" alt="">
          <h2>Aidez nous a mieux vous connaitre</h2>
          
        </div>
        <form [formGroup]="form" class="box_login_form"  > 
            <mat-form-field  style="width: 40% ; margin-right: 5%;">
                <mat-label>Numéro civique</mat-label>
                <input  matInput type="text"  formControlName="address" [(ngModel)]="houseNo">
                <mat-error *ngIf="form.get('address')?.hasError('pattern')"> Veuillez entrer <strong>un numéro civique valide</strong></mat-error>
              </mat-form-field>
                
              <mat-form-field style="width: 40%">
                <mat-label>Rue</mat-label>
                <input matInput type="text"  formControlName="street" [(ngModel)]="street">
                
              </mat-form-field>

              <mat-form-field style="width: 85%">
                <mat-label>Province</mat-label>
                <mat-select formControlName="province" placeholder="Sélectionner une province" [(ngModel)]="state">
                  <mat-option *ngFor="let province of provinces" [value]="province"  >{{ province }}</mat-option>
                </mat-select>
                
              </mat-form-field>

               
            <mat-form-field style="width: 40% ; margin-right: 5%;">
              <mat-label>Année de naissance</mat-label>
                <input  matInput type="text" placeholder="YYYY" formControlName="yearbirth" [(ngModel)]="yearOfBirth">
                <mat-error *ngIf="form.get('yearbirth')?.hasError('validYear') || form.get('yearbirth')?.hasError('pattern') ">Veuillez entrer une année valide</mat-error>
              </mat-form-field>
              
            <mat-form-field style="width: 40%">
              <mat-label>Mois de naissance</mat-label>
              <input  matInput type="text" placeholder="MM" formControlName="monthbirth" [(ngModel)]="monthOfBirth">
              <mat-error *ngIf="form.get('monthbirth')?.hasError('validMonth') || form.get('monthbirth')?.hasError('pattern')">Veuillez entrer un mois valide</mat-error>
              
            </mat-form-field>
       
            
           
     
            <button class="box_login_button" (click)="AddAditionnalInfo()">Continuer</button>
            
        </form>
      
    </div>
</main>