<div class="container">
    <div class="container_left">
        <div class="title_container">
            <h2><span class="bold_span">Créer</span> votre propre <span class="underline_span">randonnée</span> en nous donnant quelque informations</h2>
        </div>
        <img class="trail_image" src="assets/images/Creation_Trail.png" alt="">
    </div>
    <form [formGroup]="form" class="box_login_form">  
        <div class="container_right">
            <div class="container_1">
                <h3>Nom de la randonnée</h3>
                    <mat-form-field style="width: 85%;">
                        <input matInput type="text" placeholder="" formControlName="text" [(ngModel)]="text">
                        <mat-error *ngIf="form.get('email')?.hasError('required')">
                        Votre courriel est <strong>requis</strong>
                        </mat-error>
                    </mat-form-field>
            </div>
            <div class="container_2">
                <h3>Mode de déplacement</h3>
                <mat-radio-group aria-label="Select an option" style="display: flex;justify-content: space-between;">
                    <mat-radio-button value="1" style="color: blue;"><fa-icon [icon]="faPersonWalking"></fa-icon></mat-radio-button>
                    <mat-radio-button value="2"><fa-icon [icon]="faBicycle"></fa-icon></mat-radio-button>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </mat-radio-group>
            </div>
            <div class="container_3">
                <h3>Où se situe votre randonnée</h3>
                <mat-form-field style="width: 95.5%;">
                    <input matInput type="text" placeholder="" formControlName="location" [(ngModel)]="location">
                    <mat-error *ngIf="form.get('email')?.hasError('required')">
                    Votre courriel est <strong>requis</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="container_4" style="display: flex;">
                <textarea  matInput name="description" cols="137" rows="15" placeholder="Description de votre randonnée" [(ngModel)]="description" required></textarea> 
            </div>
            <div class="container_5">
                <img src="assets/images/Placeholder_Photo.png" alt="">
            </div>
        </div>
    </form>    
</div>