.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 6.5%;
    margin-bottom: 6%;
    font-family: 'Plus Jakarta Sans';
  }
  
  .container_left {
    display: flex;
    flex-direction: column;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  
  form {
    grid-column-start: 3;
    grid-column-end: 6;
  }
  
  .container_right {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    margin-left: 10%;
  }
  
  /*NOM DE LA RANDONNÉE*/
  .container_1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  
  /*MODE DE DÉPLACEMENT*/
  .container_2 {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  
  /*OÙ SE SITUE VOTRE RANDONNÉE*/
  .container_3 {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  
   /*DESCRIPTION DE VOTRE RANDONNÉE*/
  .container_4 {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 5;
  }
  
  /*TÉLÉCHARGER VOTRE IMAGE*/
  .container_5 {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 6;
  }
  
  h3{
    font-size: 20px;
    font-weight: 500;
    font-family: 'Plus Jakarta Sans';
  }

  h2{
    font-size: 35px;
    font-family: 'Plus Jakarta Sans';
    width: 100%;
  }

  .bold_span{
    font-weight: 800;
    font-style: italic;
  }

  .underline_span{
    text-decoration: underline;
  }
  
  fa-icon{
    font-size: 55px;
  }