<div class="container">
    <div class="filterContainer">
        <div class="filterContainerLeft">
            <select name="type" id="type" [(ngModel)]="type">
                <option value="2">{{'search.filterPlaceholder' | translate}}<fa-icon [icon]="faAngleDown"></fa-icon></option>
                <option value="0">{{'search.type1' | translate}}</option>
                <option value="1">{{'search.type2' | translate}}</option>
            </select>
            <!-- <input class="checkInput" type="checkbox" id="distance" name="distance" value="yes">
            <label class="checkInputLabel" for="distance">Proche de chez moi</label><br> -->
            <p style="display: inline;margin-right: 1%;">{{'search.radius' | translate}}</p>
            <mat-slider min="10" max="100" step="5" showTickMarks discrete>
                <input matSliderThumb [(ngModel)]="radius">
            </mat-slider>
        </div>
        <div class="filterContainerRight">
            <input class="searchInput" [(ngModel)]="searchInput" (keydown.enter)="onEnter()" placeholder="{{'search.keywordPlaceholder' | translate}}" type="text">
            <button (click)="Search()">{{'search.button' | translate}}</button>
        </div>
    </div>
    <div class="trailContainer">
        <h1>{{'search.title' | translate}}</h1>
        <div class="trailCardContainer" *ngFor="let trail of trails" (click)="getDetails(trail.id!)">
            <!-- <div class="trailCard" *ngFor="let trail of trails">
                
            </div> -->
            <!-- <img [src]="trail.image" alt="trail image"> -->
            <div class="trailImageContainer">
                <img [src]="trail.imageUrl" alt="image_trail">
            </div>
            <div class="trailCardInfo">
                <h2>{{trail.name}}</h2>
                <div class="trailCardInfoTop">
                    <p>Facile</p>
                    <p>-</p>
                    <p>68 km</p>
                    <p>-</p>
                    <p *ngIf="trail.type == 0"><fa-icon [icon]="faPersonWalking"></fa-icon></p>
                    <p *ngIf="trail.type == 1"><fa-icon [icon]="faBicycle"></fa-icon></p>
                </div>
                <p class="textLocation">{{trail.location}}</p>
                <p>{{trail.description}}</p>
            </div>
        </div>
    </div>
</div>