<div class="container">
    <div class="filterContainer">
        <div class="filterContainerLeft">
            <select name="type" id="type" [(ngModel)]="type">
                <option value="2">Sélectionner un type <fa-icon [icon]="faAngleDown"></fa-icon></option>
                <option value="0">Pieds</option>
                <option value="1">Vélo</option>
            </select>
            <!-- <input class="checkInput" type="checkbox" id="distance" name="distance" value="yes">
            <label class="checkInputLabel" for="distance">Proche de chez moi</label><br> -->
            <p style="display: inline;margin-right: 1%;">Rayon (Km)</p>
            <mat-slider min="10" max="100" step="5" showTickMarks discrete>
                <input matSliderThumb [(ngModel)]="radius">
            </mat-slider>
        </div>
        <div class="filterContainerRight">
            <input class="searchInput" [(ngModel)]="searchInput" (keydown.enter)="onEnter()" placeholder="Sentier, description, emplacement..." type="text">
            <button (click)="Search()">Rechercher</button>
        </div>
    </div>
    <div class="trailContainer">
        <h1>Les randonnées incontournables</h1>
        <div class="trailCardContainer" *ngFor="let trail of trails" (click)="getDetails(trail.id!)">
            <img [src]="trail.imageUrl" alt="image_trail">
            <div class="trailCardInfo">
                <h2>{{trail.name}}</h2>
                <div class="trailCardInfoTop">
                    <p>Facile</p>
                    <p>-</p>
                    <p>68 km</p>
                    <p>-</p>
                    <p *ngIf="trail.type == 0"><fa-icon [icon]="faPersonWalking"></fa-icon></p>
                    <p *ngIf="trail.type == 1"><fa-icon [icon]="faBicycle"></fa-icon></p>
                </div>
                <p class="textLocation">{{trail.location}}</p>
                <p>{{trail.description}}</p>
            </div>
        </div>
    </div>
</div>