

<main class="container">
    <img class="background_login" src="assets/images/Banff National Park 4K472814907.jpg" alt="Background image login page">
    <div class="box_login">
        <div class="box_login_head">
          <img class="box_login_logo" src="assets/images/LogoNoWords.png" alt="">
          <h2>Connectez-vous</h2>
        </div>
        <form [formGroup]="form" class="box_login_form">  
            <mat-form-field class="box_login_form_email">
              <input  class="box_login_form_email_input" matInput type="username" placeholder="Nom d'utilisateur" formControlName="username" [(ngModel)]="username">
              <mat-error *ngIf="form.get('username')?.hasError('required')">
                Votre nom d'utilisateur est <strong>requis</strong>
              </mat-error>
            </mat-form-field>
            <div class="space"></div>
            <mat-form-field style="width: 90%">
              <input matInput [type]="hidePassword ? 'password' : 'text'" placeholder="Mot de passe" formControlName="password" [(ngModel)]="password">
              <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
              <mat-error *ngIf="form.get('password')?.hasError('required')">
                Votre mot de passe est <strong>requis</strong>
              </mat-error>
              <mat-error *ngIf="form.get('password')?.hasError('min')">
                Votre mot de passe est <strong>trop court</strong>
              </mat-error>
            </mat-form-field>
      
            <button class="box_login_button" (click)="Login()">Se connecter</button>
        </form>
        <div class="space"></div>
        <a class="box_login_forgot" href="">Mot de passe oublié</a>
        <div class="space_bottom"></div>
        <p class="login_box_compte">Pas de compte? <a class="box_login_signup" href="">Inscrivez-vous gratuitement</a></p>
        <div class="space_bottom"></div>
    </div>
</main>
