<div class="trailContainer">
    <h1>Les randonnées à approuver</h1>
    <div class="trailCardContainer" *ngFor="let trail of trails">
      
        <img [src]="trail.imageUrl" alt="image_trail">
        <div class="trailCardInfo">
            <h2>{{trail.name}}</h2>
            <div class="trailCardInfoTop">
                <p *ngIf="trail.type == 0"><fa-icon [icon]="faPersonWalking"></fa-icon></p>
                <p *ngIf="trail.type == 1"><fa-icon [icon]="faBicycle"></fa-icon></p>
            </div>
            <p class="textLocation">{{trail.location}}</p>
            <p>{{trail.description}}</p>
        </div>
    </div>
</div>