<header class="header">
    <div class="wrapper">
        <a href="" class="header_brand"><img class="logo" src="assets/images/Logo_OG.png" alt="Logo" /></a>
 
        <nav class="header_nav">
 
            <ul>
                <li>
                    <a class="linkNav" href="">Explorer</a>
                </li>
                <li>
                    <a class="linkNav" href="">Communauté</a>
                </li>
                <li>
                    <a class="linkNav" href="#/creation" *ngIf="userService.isConnected">Créer</a>
                </li>
            </ul>
        </nav>
        <nav class="header_options">
            <ul>
                <li>
                    <a class="linkNav" href="">Aide</a>
                </li>
                <li>
                    <button *ngIf="!userService.isConnected" class="button" routerLink="/login">Se connecter</button>
                    <nav>
                        <div class="box" *ngIf="userService.isConnected">
                            <img src="assets\images\userPlaceHolder.png" alt="userPlaceHolder" (click)="toggleMenu()">
                        </div>
                        <div class="sub-menu-wrap" id="subMenu" >
                            <div class="sub-menu">
                                <div class="user-info">
                                    <img src="assets\images\userPlaceHolder.png" alt="userImage">
                                    <h2>test</h2>
                                </div>
                                <hr>
 
                                <a href="#" class="sub-menu-link">
                                    <i class="fa-solid fa-user"></i>
                                    <p>Edit Profile</p>
                                    <span>></span>
                                </a>
                                <a href="#" class="sub-menu-link">
                                    <i class="fa-solid fa-gear"></i>
                                    <p>Settings</p>
                                    <span>></span>
                                </a>
                                <a href="#" class="sub-menu-link">
                                    <i class="fa-solid fa-circle-info"></i>
                                    <p>Help</p>
                                    <span>></span>
                                </a>
                                <a href="#" class="sub-menu-link" (click)="logout()">
                                    <i class="fa-solid fa-right-from-bracket"></i>
                                    <p>Logout</p>
                                    <span>></span>
                                </a>
                            </div>
                        </div>
                    </nav>
                   
                </li>
            </ul>
        </nav>
    </div>
</header>
<router-outlet> </router-outlet>
 
<footer class="footer">
    <div class="footer_container">
        <div class="footer_options">
            <img class="footer_logo" src="assets/images/Logo_V2.png" alt="">
        </div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div class="footer_texte">L'application des randonnées</div>
        <div class="footer_texte">Explorer</div>
        <div class="footer_texte">Communauté</div>
        <div class="footer_texte">Créer</div>
        <div class="footer_texte">Aide</div>
        <div class="footer_app_logos">
            <img class="logo_space" src="assets/images/Footer_AppleLogo.png" alt="">
            <img src="assets/images/Footer_GoogleLogo.png" alt="">
        </div>
        <div class="footer_texte_small">Randonnées</div>
        <div class="footer_texte_small">
            <ul>
                <li>Avis</li>
                <li>Recommendations</li>
                <li>Commentaires</li>
            </ul>
        </div>
        <div class="footer_texte_small">Randonnées</div>
        <div class="footer_texte_small">
            <ul>
                <li>À propos</li>
                <li>Contactez-nous</li>
            </ul>
        </div>
        <div></div>
    </div>
    <div class="footer_sepator"></div>
    <div class="footer_rights">
        <p>2024 Arsoule, LLC Tous droits réservés</p>
        <p>Arsoude® est une marque déposées d’Arsoude, LLC aux États-Unis ainsi que dans d’autre juridictions.</p>
        <br>
        <p>Politique de confidentialité • Conditions générales • Politique en matière de cookies • Gérer les cookies</p>
     
    </div>
    <div class="footer_language">
        <div class="dropdown">
            <button class="button">Français <img src="assets/images/Footer_DownArrow.png" alt=""></button>
            <div class="dropdown-content">
                <a href="#">English</a>
            </div>
        </div>
    </div>
</footer>