<header class="header">
    <div class="wrapper">
        <a href="" class="header_brand"><img class="logo" src="assets/images/Logo.png" alt="Logo" /></a>

        <nav class="header_nav">

            <ul>
                <li>
                    <a href="">Explorer</a>
                </li>
                <li>
                    <a href="">Communauté</a>
                </li>
                <li>
                    <a href="">Créer</a>
                </li>
            </ul>
        </nav>
        <nav class="header_options">
            <ul>
                <li>
                    <a href="">Aide</a>
                </li>
                <li>
                    <a href="" class="button">Se connecter</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<router-outlet> </router-outlet>