header {
    font-family: 'Plus Jakarta Sans';
    font-size: 17px;
    background-color: white;
    padding: 24px;
    box-shadow: 0 2px 40px rgba(0, 0, 0, 0.1);
    /* Add shadow here */
}

ul {
    list-style: none;
    display: flex;
    gap: 45px;
}

.logo {
    height: 65%;
    width: 65%;
    padding-left: 20%;
}

nav>ul>li>a {
    display: inline-block;
    text-decoration: none;
    font-size: 110%;
    margin-right: 0%;
    color: black;
    font-weight: 600;
    position: relative;
}

nav>ul>li>a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: -7px;
    content: "";
    display: block;
    height: 3px;
    left: 50%;
    position: absolute;
    background: #09635F;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

nav>ul>li>a:hover:after {
    width: 100%;
    left: 0;
}

.wrapper {
    display: flex;
    align-items: center;
}

.header_nav {
    margin-right: auto;
}

.header_options {
    padding-right: 4%;
}

.header_options ul {
    display: flex;
}

.header_options li {
    display: flex;
    flex-direction: row;
    align-items: center;
}



.header_options .button {
    background-color: #09635F;
    color: white;
    padding: 10px 24px;
    border-radius: 35px;
    white-space: nowrap;
    font-family: 'Plus Jakarta Sans';
    border: none;
    font-size: 17px;
    transition: 0.3s;
}

.header_options .button:hover {
    background-color: #0EA59E;
    cursor: pointer;
}

.box {
    width: 50px;
    height: 50px;
}

.box img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.box:hover {
    cursor: pointer;
}

.sub-menu-wrap {
    position: absolute;
    top: 10%;
    right: 3%;
    width: 320px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
    z-index: 10000;
}

.sub-menu-wrap.open-menu {
    max-height: 100%;
}

.sub-menu {
    background: #ffffff;
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info h2 {
    font-family: 'Plus Jakarta Sans';
    font-weight: 500;
    margin-left: 5%;
    font-weight: 700;
}

.user-info img {
    width: 35%;
    height: 35%;
}

.sub-menu hr {
    border: 0;
    height: 2px;
    width: 100%;
    background: #000000;
}

.sub-menu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
}

.sub-menu-link p {
    width: 100%;
}

.sub-menu-link i {
    transform: scale(1.3);
    width: 40px;
    padding: 8px;
    margin-right: 15px;
}

.sub-menu-link span {
    font-size: 22px;
    font-weight: 400;
    transition: transform 0.5s;
}

.sub-menu-link:hover span {
    transform: translateX(5px);
    font-weight: 600;
}

.sub-menu-link:hover p {
    font-weight: 600;
}

footer {
    font-family: 'Plus Jakarta Sans';
    background-color: #073937;
    height: 70%;
    color: white;

    .footer_texte {
        font-size: 25px;
        font-weight: 500;
        padding-bottom: 5%;
    }

    .footer_texte_small {
        font-size: 20px;
        font-weight: 500;

        ul {
            margin: 0;
            list-style: none;
            padding-left: 0;

            li {
                padding-bottom: 8%;
            }
        }


    }

    .footer_container {
        padding-left: 9%;
        padding-top: 3%;
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        padding-bottom: 3%;
    }

    .footer_logo {
        padding-bottom: 2%;
        width: 40%;
    }


    .logo_space {
        padding-right: 3%;
    }


    .footer_sepator {
        background-color: white;
        margin-left: 9.2%;
        width: 82.4%;
        height: 0.5%;
    }

    .footer_rights {
        font-size: 20px;
        margin-top: 2.5%;
        margin-left: 9.2%;
    }

    select{
        background-color: #09635F;
        text-decoration: none;
        color: white;
        font-size: 18px;
        padding: 4% 9%;
        white-space: nowrap;
        cursor: pointer;

        img {
            margin-left: 0.4%;
        }
    }

    .footer_language {
        margin-left: 9.1%;
        margin-top: 2%;
    }

    .dropdown {
        position: relative;
        display: inline-block;

    }


    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;

    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: #f1f1f1;

    }

    .dropdown:hover .dropdown-content {
        display: block;

    }


}

.hamburger {
    display: none; /* Hide by default */
    cursor: pointer;
}

.bar {
    height: 3px;
    width: 25px;
    background-color: #333;
    margin: 6px 0;
}

.turn{
    display: block;
    position: relative;
    width: 100%;
}

.turn span{
    position: absolute;
    display: inline-block;
    text-align: center;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 972px) and (min-width: 94px) {
    .header{
        font-size: 17px;
    }

    .logo {
        height: 50%;
        width: 50%;
        padding-left: 10%;
    }

    .header_brand{
        margin-right: 0px;
    }

    .header_nav{
        display: none;
    }

    .hamburger{
        display: block;
    }

    .linkNav{
        display: none;
    }

    .wrapper{
        justify-content: space-between;
    }

    .part_1{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer_texte_small{
        display: none;
    }

    .footer_texte{
        display: none;
    }

    .footer_options{
        display: flex;
        width: auto;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 998px) and (min-width: 973px) {
    .header{
        font-size: 13px;
    }

    .logo {
        height: 50%;
        width: 50%;
        padding-left: 10%;
    }

    .footer_texte_small{
        display: none;
    }

    .footer_texte{
        display: none;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 1024px) and (min-width: 999px) {
    .header{
        font-size: 14px;
    }

    .logo {
        height: 55%;
        width: 55%;
        padding-left: 10%;
    }

    .footer_texte_small{
        display: none;
    }

    .footer_texte{
        display: none;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 1088px) and (min-width: 1025px){

    .header{
        font-size: 15px;
    }

    .logo {
        height: 55%;
        width: 55%;
        padding-left: 10%;
    }

    .footer_texte_small{
        display: none;
    }

    .footer_texte{
        display: none;
    }
   

}

@media only screen and (max-width: 1365px) and (min-width: 1088px){

    .footer_texte_small{
        display: none;
    }

    .footer_texte{
        display: none;
    }

    

}



@media only screen and (max-width: 1608px){

    .footer_texte_small{
        display: none;
    }

    .footer_texte{
        display: none;
    }

}

