.slot-machine {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 60%;
  width: fit-content;
  overflow: hidden;
  margin: 10%;
  background-color: aquamarine;
}

.reel {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  padding: 10px;
}

.symbol {
  font-size: 5em;
  margin: 20px;
}

.reel-column {
  margin: 0 20px; /* Adjust spacing between columns */
  position: relative;
}

button {
  font-size: 1em;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
}

/* Define animation styles */
@keyframes spin {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

.spin-animation {
  animation-name: spin;
  animation-duration: 1s; /* Adjust duration as needed */
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
