<div class="searchBar">
  <div class="search">
    <input class="searchInput" [(ngModel)]="searchInput" (keydown.enter)="onEnter()" placeholder="{{'search.keywordPlaceholder' | translate}}" type="text">
    <div class="td" id="s-cover" (click)="Search()">
      <button>
        <div id="s-circle"></div>
        <span></span>
      </button>
    </div>
  </div>
  <div class="filtre" (click)="openMenu()">
    <i class="fa-solid fa-sliders"></i>    
    <p>Filtres</p>
  </div>
</div>
<div class="pageDisposition">
  <div class="containerList">
    <router-outlet></router-outlet>
  </div>
    <div leaflet class="mapContainer" #mapContainer
					 [leafletOptions]="options"
					 [leafletZoom]="this.mapService.zoom"
					 (leafletZoomChange)="onZoomChange($event)"
					 [leafletCenter]="this.mapService.center "
           [leafletLayers]="mapService.markersMap"
				   (leafletCenterChange)="onCenterChange($event)">
	  </div>
</div>

<div class="centerOptions" [ngClass]="{'visible': trailOptionsVisible}">
  <div class="filterOptions">
    <i class="fa-solid fa-xmark close" (click)="closeMenu()"></i>
    <div class="filterHeader">
      <p>Filtres</p>
    </div>
    <div class="trailTypeSection">
      <h3>Type de la randonnée</h3>
      <p>Trouvez des randonnées selon mes préférence</p>
      <div class="trailType">
        <div class="containerFirstIcon" (click)="toggleColor($event)">
            <fa-icon [icon]="faPersonWalking"></fa-icon>
        </div>
        <div class="containerSecondIcon" (click)="toggleColor($event)">
            <fa-icon [icon]="faBicycle"></fa-icon>
        </div>
      </div>
    </div>
    <div class="trailRadius">
      <h3>Rayon de la randonnée</h3>
      <p>Trouvez des randonnée dans un rayon  partir de chez vous</p>
      <div *ngIf="trailOptionsVisible" leaflet class="mapContainerOptions" #mapContainerOptions
             [leafletOptions]="optionsSecondMap"
             [leafletZoom]="zoom"
             (leafletZoomChange)="onZoomChange($event)"
             [leafletCenter]="center"
             [leafletLayers]="layers"
             (leafletCenterChange)="onCenterChange($event)">
      </div>
      <div class="value">
          <input type="range" class="range" min="0" max="100" [(ngModel)]="rangeValue" (input)="onRangeChange($event)">
          <span *ngIf="rangeValue > 0">{{rangeValue}} Km</span>
          <span *ngIf="rangeValue == 0">All</span>
      </div>
    </div>
    <div class="ratingTrailOptions">
      <h3>Note</h3>
      <igc-rating class="star"  value="ratingVal" min="1" max="5" (igcChange)="handleStarClick($event);"></igc-rating>
    </div>
    <div class="applyFilter" (click)="applyFilterAndCloseMenu()">      
     <p>Appliquer</p>
    </div>
  </div>
</div>



