/* You can add global styles to this file, and also import other style files */
@import "~@fortawesome/fontawesome-free/css/all.css";

body { margin : 0; }
html, body { height: 100%; }
body { margin: 0; font-family: 'Plus Jakarta Sans' }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.error .mat-snack-bar-container {
    background-color: #f44336;
    color: white;
}

.sucess .mat-snack-bar-container {
    background-color: #21d36b;
    color: white;
    height: 300px;
}

.mat-mdc-snack-bar-container, .mdc-snackbar__label, .mat-mdc-snack-bar-container .mdc-snackbar__surface {
    padding: 0;
    margin: 0;
    background: none;
    box-shadow: none;
    margin-top: 20px;
}

.ng-tns-c3293340843-0 {
    background: white;
}