<div class="container">
        <div class="hero">
                <video onloadedmetadata="this.muted=true" autoplay loop muted src="../../assets/videos/video_fond_principal.mp4"></video>
                <div class="gradient-overlay"></div>
                <h1>{{'home.title' | translate}}<span>{{'home.aventure' | translate}}</span></h1>
                <input [(ngModel)]="searchInput" (keydown.enter)="onEnter()" placeholder="{{'home.placeholder' | translate}}" type="text">
        </div>
</div>
<div class="container2">
        <h2 class="bestTrailsTitle" style="margin-top: 80px;">{{'home.bestTrailsTitle' | translate}}</h2>
        <div class="trailsContainer">
                <!-- <p *ngIf="trail.type == 0"><fa-icon [icon]="faPersonWalking"></fa-icon></p>
                <p *ngIf="trail.type == 1"><fa-icon [icon]="faBicycle"></fa-icon></p> -->
                <div class="trailCard" data-tilt data-tilt-max="50" data-tilt-speed="400" data-tilt-perspective="500">
                        <div class="trailCardImage">
                                <img src="https://www.travelandleisure.com/thmb/9TgvQ-g-uFDD4IwbBzlZ8eeEZs8=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/george-s-mickelson-trail-south-dakota_RAILTRAIL0123-f3e27d5d1e2f44efb8bf368185d74130.jpg" alt="Parc Mont-Tremblant">
                        </div>
                        <div class="trailInfo">
                                <h3 style="margin: 0;">Parc Mont-Tremblant</h3>
                                <p style="margin: 0;margin-top: 5px;">Montréal, Québec, Canada</p>
                                <p style="margin: 0;margin-top: 5px;"><fa-icon class="fa-solid fa-bicycle"></fa-icon> - 68km - Facile</p>
                        </div>
                </div>
                <div class="trailCard" data-tilt data-tilt-max="50" data-tilt-speed="400" data-tilt-perspective="500">
                        <div class="trailCardImage">
                                <img src="https://www.travelandleisure.com/thmb/9TgvQ-g-uFDD4IwbBzlZ8eeEZs8=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/george-s-mickelson-trail-south-dakota_RAILTRAIL0123-f3e27d5d1e2f44efb8bf368185d74130.jpg" alt="Parc Mont-Tremblant">
                        </div>
                        <div class="trailInfo">
                                <h3 style="margin: 0;">Parc Mont-Tremblant</h3>
                                <p style="margin: 0;margin-top: 5px;">Montréal, Québec, Canada</p>
                                <p style="margin: 0;margin-top: 5px;"><fa-icon class="fa-solid fa-bicycle"></fa-icon> - 68km - Facile</p>
                        </div>
                </div>
                <div class="trailCard" data-tilt data-tilt-max="50" data-tilt-speed="400" data-tilt-perspective="500">
                        <div class="trailCardImage">
                                <img src="https://www.travelandleisure.com/thmb/9TgvQ-g-uFDD4IwbBzlZ8eeEZs8=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/george-s-mickelson-trail-south-dakota_RAILTRAIL0123-f3e27d5d1e2f44efb8bf368185d74130.jpg" alt="Parc Mont-Tremblant">
                        </div>
                        <div class="trailInfo">
                                <h3 style="margin: 0;">Parc Mont-Tremblant</h3>
                                <p style="margin: 0;margin-top: 5px;">Montréal, Québec, Canada</p>
                                <p style="margin: 0;margin-top: 5px;"><fa-icon class="fa-solid fa-bicycle"></fa-icon> - 68km - Facile</p>
                        </div>
                </div>
        </div>
</div>
<div class="container3">
        <div class="titleContainer2">
                <h1>{{'home.appTitlePt1' | translate}} <span>{{'home.appTitlePt2' | translate}}</span></h1>
                <h2 class="title2">{{'home.appSubPt1' | translate}} <span>{{'home.appSubPt2' | translate}}</span> {{'home.appSubPt3' | translate}}</h2>
        </div>
</div>
<div class="containerOfContainer4">
        <div class="container4">
                <div class="infoAppContainer">
                        <div class="infoApp">
                                <h2 class="infoAppTitle">{{'home.infoAppTitle1Pt1' | translate}} <strong>{{'home.infoAppTitle1Pt2' | translate}}</strong></h2>
                                <h3 class="infoAppText">{{'home.infoAppSub1' | translate}}</h3>
                        </div>
                        <div class="infoApp">
                                <h2 class="infoAppTitle">{{'home.infoAppTitle2Pt1' | translate}} <strong>{{'home.infoAppTitle2Pt2' | translate}}</strong></h2>
                                <h3 class="infoAppText">{{'home.infoAppSub2' | translate}}</h3>
                        </div>
                        <div class="infoApp">
                                <h2 class="infoAppTitle">{{'home.infoAppTitle3Pt1' | translate}} <strong>{{'home.infoAppTitle3Pt2' | translate}}</strong></h2>
                                <h3 class="infoAppText">{{'home.infoAppSub3' | translate}}</h3>
                        </div>
                </div>
                <div class="divFlex" style="flex: 5;"></div>
                <img src="../../assets/images/image_iphone.png" alt="image_application">
        </div>
</div>

<!-- <div id="boite">
        <i class="fa-solid fa-circle-check"></i>
        <p>La randonnée a été créé avec succès!</p>
</div> -->

<script type="text/javascript">
	VanillaTilt.init(document.querySelector("trailCard"), {
		max: 25,
		speed: 400
	});
</script>